{% load static %}
<div class="container-fluid">
    <div class="row bottom-row">
        <div class="col-4 bottom-item">
        <div class="left-button" onclick="pop()">
            <img id="map" src="static/img/map-white.png" alt="left-menu" srcset="">
        </div>
        </div>
        <div class="col-4 bottom-item">
            <img id="like" src="static/img/social-white.png" alt="left-menu" srcset="">
        </div>
        <div class="col-4 bottom-item">
            <a href="#"><img id="up" src="static/img/angle-up-white.png" alt="left-menu" srcset=""></a> 
        </div>
    </div>
</div>
