{% load static %}
<div class="container-fluid">
    <div class="row bottom-row">
        <div class="col-4 bottom-item">
        <div class="left-button" onclick="pop()">
            <img src="{% static 'img\list-nested.svg' %}" alt="left-menu" srcset="">
        </div>
        </div>
        <div class="col-4 bottom-item">
            <img src="{% static 'img\share.svg' %}" alt="left-menu" srcset="">
        </div>
        <div class="col-4 bottom-item">
            <a href="#"><img src="{% static 'img\chevron-up.svg' %}" alt="left-menu" srcset=""></a> 
        </div>
    </div>
</div>
