{% load static %}
<div class="container-fluid">
    <div class="row bottom-row">
        <div class="col-4 bottom-item">
        <div class="left-button" onclick="pop()">
            <img id="map" src={{map}} alt="left-menu" srcset="">
        </div>
        </div>
        <div class="col-4 bottom-item">
            <img id="like" src={{like}} alt="left-menu" srcset="">
        </div>
        <div class="col-4 bottom-item">
            <a href="#"><img id="up" src={{up}} alt="left-menu" srcset=""></a> 
        </div>
    </div>
</div>
