<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" id="nav">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">HowTo<span style="font-weight:bold">Python</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <img id="burger" src={{burger}} alt="" srcset="">
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Учебник</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Библиотеки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Шпаргалки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Форум</a>
                </li>
            </ul>
                <a class="nav-link" id='login' href="/">Аккаунт</a>
                <img id="theme-toggler" src="static/img/moon.png" alt="" srcset="" height="50px">
        </div>
    </div>
</nav>