{% extends 'base.html' %}

{% load static %}

{% block content %}
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt maiores minus rerum voluptas ratione ipsum debitis,
libero modi quo aspernatur voluptates rem error illum eum, consequuntur quas? Ex repudiandae totam nihil, recusandae
eius consequuntur officia illo sed ab nostrum facilis ullam labore error perferendis nulla voluptatem voluptate, aut
necessitatibus nesciunt eum commodi impedit soluta eaque. Optio sunt illo ab laboriosam suscipit dolorum atque beatae
aut. Quam, quasi aut amet numquam, suscipit et facere optio vel, ut in placeat! Mollitia rerum eligendi esse placeat
facilis non dicta nulla modi excepturi sit at, recusandae ut maiores beatae sequi eum est ducimus praesentium?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere optio enim amet explicabo et doloremque, temporibus ad
officia aspernatur fuga ea nisi sint dicta vero provident! Harum consequatur veritatis fugit veniam accusamus ut
reprehenderit maxime animi unde cum fuga quae quasi quos tempore, nam autem voluptatibus esse? Laboriosam voluptates
eligendi voluptatum molestiae ullam eos sapiente ad, eaque dignissimos aspernatur fugit deleniti, animi blanditiis
praesentium maxime, expedita similique excepturi! Optio omnis voluptatum eligendi eveniet suscipit voluptates
aspernatur, neque ut necessitatibus, mollitia, eaque atque quos veritatis adipisci ducimus odit facere quod.
Necessitatibus nostrum vero architecto vitae qui aperiam eligendi eos maxime, nobis mollitia culpa, autem optio unde
ducimus modi molestias labore iure! Velit sequi maiores fuga id molestias? Odit pariatur unde ipsam aspernatur. Facere
doloremque veritatis repellat aperiam. Provident voluptate quia ipsa distinctio magnam quidem nam atque omnis
necessitatibus harum at, amet nostrum illum eligendi sapiente accusantium officia similique earum dicta odio voluptatum
esse reprehenderit! Neque distinctio animi, alias quia, numquam aspernatur perferendis voluptatum dolor hic corrupti
error tempore illo dicta qui mollitia quam ipsa sed aliquam veniam commodi a? Nemo ratione dolor sapiente quidem,
ducimus illo praesentium similique expedita, possimus veritatis dolorum quo nam natus tenetur, perferendis recusandae?
Omnis, vel ab.
<pre><code>
from django.shortcuts import render
from django.shortcuts import redirect
    
def index(request):
    return render(request, 'htp_app/index.html', context={})
</code></pre>
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt maiores minus rerum voluptas ratione ipsum debitis,
libero modi quo aspernatur voluptates rem error illum eum, consequuntur quas? Ex repudiandae totam nihil, recusandae
eius consequuntur officia illo sed ab nostrum facilis ullam labore error perferendis nulla voluptatem voluptate, aut
necessitatibus nesciunt eum commodi impedit soluta eaque. Optio sunt illo ab laboriosam suscipit dolorum atque beatae
aut. Quam, quasi aut amet numquam, suscipit et facere optio vel, ut in placeat! Mollitia rerum eligendi esse placeat
facilis non dicta nulla modi excepturi sit at, recusandae ut maiores beatae sequi eum est ducimus praesentium?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere optio enim amet explicabo et doloremque, temporibus ad
officia aspernatur fuga ea nisi sint dicta vero provident! Harum consequatur veritatis fugit veniam accusamus ut
reprehenderit maxime animi unde cum fuga quae quasi quos tempore, nam autem voluptatibus esse? Laboriosam voluptates
eligendi voluptatum molestiae ullam eos sapiente ad, eaque dignissimos aspernatur fugit deleniti, animi blanditiis
praesentium maxime, expedita similique excepturi! Optio omnis voluptatum eligendi eveniet suscipit voluptates
aspernatur, neque ut necessitatibus, mollitia, eaque atque quos veritatis adipisci ducimus odit facere quod.
Necessitatibus nostrum vero architecto vitae qui aperiam eligendi eos maxime, nobis mollitia culpa, autem optio unde
ducimus modi molestias labore iure! Velit sequi maiores fuga id molestias? Odit pariatur unde ipsam aspernatur. Facere
doloremque veritatis repellat aperiam. Provident voluptate quia ipsa distinctio magnam quidem nam atque omnis
necessitatibus harum at, amet nostrum illum eligendi sapiente accusantium officia similique earum dicta odio voluptatum
esse reprehenderit! Neque distinctio animi, alias quia, numquam aspernatur perferendis voluptatum dolor hic corrupti
error tempore illo dicta qui mollitia quam ipsa sed aliquam veniam commodi a? Nemo ratione dolor sapiente quidem,
ducimus illo praesentium similique expedita, possimus veritatis dolorum quo nam natus tenetur, perferendis recusandae?
Omnis, vel ab.
{% endblock %}

{% block left %}
<div class="left-menu">
LEFT CONTENT
</div>
<div class="left-menu-sticky">
STICKY
</div>
{% endblock %}


