{% extends 'base.html' %}

{% load static %}

{% block content %}

    {% for article in all_articles %}
        
        <div class="article-item">
            <a href="{% url 'article' article.category.slug article.slug %}"><span class="list-title">{{ article }}</span></a><br>
            <span class="list-date">{{ article.datetime }}</span>

            {% for tag in article.tags.all %}
                <a href="{% url 'tags' tag.slug %}"><span class="list_tags">#{{ tag }}</span></a>
            {% endfor %}
            
            <a href="{% url 'article' article.category.slug article.slug %}">{{ article.poster|safe }}</a>
        </div>

    {% endfor %}

{% endblock %}

{% block right %}
{{test}}
{% endblock %}


