{% extends 'base.html' %}

{% load static %}

{% block content %}

    {% for article in all_articles %}
        <a href="{% url 'article' article.category.slug article.slug %}"><span class="list-title">{{ article }}</span></a><br>
        <span class="list-date">{{ article.datetime }}</span>
        <a href="{% url 'article' article.category.slug article.slug %}">{{ article.poster|safe }}</a>
        {% for tag in article_tags_all %}
            {{ tag }}
        {% endfor %}
    {% endfor %}

{% endblock %}

{% block right %}
{{test}}
{% endblock %}


