body {
    background-color: rgb(237 237 237);
}

.cover{
    background: rgba(0, 0, 0, .75);
    position: fixed;
    width: 100%;
    height: 100vh;
    transition: 0.4s;
    display: none;
    }

.bg-light {
    background-color: #ffffff!important;
    box-shadow: 0px 0px 20px 0px #00000052;
}

.container {
    margin-top: 20px !important;
}

@media screen and (min-width: 590px) {
    .menu-bottom {
        display: none;
    }
}

.menu-bottom {
    width: 100%;
    height: 50px;
    background-color: rgb(255 255 255);
    position: sticky;
    bottom: 0;
    z-index: 3;
    box-shadow: 0px 0px 20px 0px #00000052;
}

.bottom-item {
    height: 50px;
    display: inline;
}

.bottom-item img{
    height: 50px;
    display: inline;
    padding: 10px;
}

.bottom-row {
    justify-content: space-between;
    text-align: center;
    align-content: center;
}

@media screen and (max-width: 590px) {
    .content {
        padding: 0 20px;
    }
}

.content {
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 590px) {
    .left {
        display: none;
    }
}

.left {
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.left-menu{
    width: 100%;
    height: 200px;
    background-color: beige;
}

.left-menu-sticky{
    width: 100%;
    height: 200px;
    background-color: rgb(227, 245, 220);
    position: sticky;
    top: 60px;
}

footer {
    height: 100px;
    background-color: rgb(46, 46, 46);
    z-index: 5;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.55);
    border-color: rgba(0, 0, 0, 0) !important;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 !important;
}

.left-content {
    margin-top: 50px;
    overflow-y: auto;
    padding: 10px;
    /* display: none; */
    width: 300px;
    left: -300px;
    height: 90vh;
    background-color: rgb(255, 255, 255);
    position: fixed;
    transition: left .4s
}

@media screen and (max-width: 590px) {
    .up-arrow {
        display: none;
    }
}

.up-arrow {
    opacity: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #cccccc;
    width: 50px;
    height: 100vh;
    cursor: pointer;
    transition: .5s;
}

.up-arrow:hover{
    opacity: 1;
    cursor: pointer;
}

.up-arrow img{
    opacity: .3;
    width: 50px;
    position: fixed;
    top: 45%;
    margin: 0 auto;
}

.sbaum{
    bottom:0;
    height: 150px;
}

#upper{
    margin: auto 7px;
    opacity: .3;
    background-color: #9f9f9f;
    /* padding: 6px; */
    width: 34px;
    height: 34px;
    border-radius: 50%;
    position: sticky;
    bottom: 45%;
    left: 0;
}

@media screen and (max-width: 590px) {
    #upper {
        display: none;
    }
}

#upper img{
    width: 34px;
    padding: 4px;
}